<h2 class="text-center">{{languagesService.languages.login}}</h2>
<div *ngIf="loginService.loading">
  {{languagesService.languages.loadingwait}}
</div>

<div *ngIf="!loginService.loading">

  <div class="input-group mb-3" *ngIf="!loginService.personDisplay">
    <input type="text" class="form-control" placeholder="Recipient's username" [(ngModel)]="loginService.username"
           aria-label="Recipient's username" aria-describedby="button-addon2">
    <input type="password" class="form-control" placeholder="Recipient's password" [(ngModel)]="loginService.password"
           aria-label="Recipient's password" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="loginService.login()">
        {{languagesService.languages.button}}
      </button>
    </div>
  </div>


  <div *ngIf="loginService.personDisplay" class="text-center">
    Вошли как {{loginService.personDisplay.username}}/{{loginService.personDisplay.fio}}
    <button class="btn btn-outline-secondary" type="button" (click)="loginService.exit()" class="exit">
      {{languagesService.languages.exit}}
    </button>
  </div>
</div>

