.exit {
  border: 1px solid #47caff;
  padding: 0.2rem;
  cursor: default;
}

.exit:hover {
  background-color: aliceblue;
}

input {
  padding: 0.2rem;
  outline: none;
  font-size: 1rem;
}

button {
  padding: 0.2rem;
  border: #becdcd 2px solid;
  background-color: transparent;
  font-size: 1rem;
}

button:hover {
  background-color: #becdcd;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
  color: #a5b4b4;
}
