<div class="water-helper bg-light  shadow-sm p-3 mb-5 rounded ">

  <div class="row clearfix" id="home">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

    </div>

  </div>
  <section id="mu-about-us ">
    <div class="row ">
      <div class="col-md-12">
        <div class="mu-about-us-area">


          <div id="content-id" class="content">
            <h1 class="l-indent-bottom">
              Расписание движения автобусов </h1>

            <!--            <p align="CENTER">-->
            <!--              &nbsp;Р А С П И С А Н И Е-->
            <!--            </p>-->
            <!--            <p align="CENTER">-->
            <!--              движения автобусов с автовокзала по пр. Абая 8 г. Усть-Каменогорска&nbsp;-->
            <!--            </p>-->
            <!--            <p align="CENTER">-->
            <!--              <b>Открыта онлайн продажа билетов на оз. Алаколь на весь летний сезон!!!!! Также, сразу можно купить&nbsp;-->
            <!--                обратные билеты из Алаколя.</b>-->
            <!--            </p>-->
            <p align="CENTER">
              <br>
            </p>
            <!--            <p align="CENTER">-->
            <!--              <b>Рейсы в Российскую Федерацию временно отменены!</b>-->
            <!--            </p>-->
            <p align="CENTER">
              <br>
            </p>
            <table border="1">
              <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
              </colgroup>
              <tbody>
              <tr>
                <td>
                  <p align="CENTER">
                    Наименование
                  </p>
                  <p align="CENTER">
                  </p>
                  <p align="CENTER">
                    маршрута
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    Протяж-ть
                  </p>
                  <p align="CENTER">
                  </p>
                  <p align="CENTER">
                    (км.)
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    Время в пути<br>
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    Отпр. с нач. пункта
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    Стоимость билета
                  </p>
                  <p align="CENTER">
                  </p>
                  <p align="CENTER">
                    (тенге)
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск – Алматы
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    1134
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    24.10
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    &nbsp; 19.00 (временно отменен)&nbsp; &nbsp;&nbsp;
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    7000
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  Усть-Каменогорск - Алтайский
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp; 59
                </td>
                <td colspan="1" style="text-align: center;">
                  01.45
                </td>
                <td colspan="2" style="text-align: center;">
                  &nbsp;9.05 &nbsp;&nbsp; 14.05 &nbsp;&nbsp;<span style="color: #ffffff;"> 18.30</span>
                </td>
                <td colspan="1" style="text-align: center;">
                  500
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск – Нур-Султан
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    1084
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    23.00
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    16.40&nbsp;
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    Акция! 6000
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  Усть-Каменогорск - Асу-Булак
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp;&nbsp;96
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp; &nbsp;2.00
                </td>
                <td colspan="2">
                  <div style="text-align: center;">
                    &nbsp; 11.35 14.35 &nbsp;<span style="color: #ffffff;">16.25</span> &nbsp;18.00&nbsp;
                  </div>
                  <div style="text-align: center;">
                    <br>
                  </div>
                </td>
                <td colspan="1" style="text-align: center;">
                  800
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск - Аягуз
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    320
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    7.30
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    17.00
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    1900
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск – Белоусовка
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    25
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    0.51
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    6.30 8.10 9.15&nbsp; 10.40 12.20 14.05 15.00 16.15 17.20 18.20&nbsp; 20.30
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    230
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск – Барнаул
                  </p>
                  <p>
                    ч\з Змеиногорск
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    549
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    12.00
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    временно отменен 8.30
                  </p>
                  <p align="CENTER">
                    &nbsp;временно отменен 20.00
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    5500
                  </p>
                  <p align="CENTER">
                    6700
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск – Бобровка
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    29
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    0.52
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    8.10 13.25 17.15
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    300
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <span style="color: #ffffff;">Усть-Каменогорск - Большенарым </span>
                </td>
                <td colspan="1">
 <span style="color: #ffffff;">
		&nbsp; &nbsp; &nbsp;282 </span>
                </td>
                <td colspan="1" style="text-align: center;">
 <span style="color: #ffffff;">
		6.30 </span>
                </td>
                <td colspan="2" style="text-align: center;">
 <span style="color: #ffffff;">
		8.10 </span>
                </td>
                <td colspan="1" style="text-align: center;">
 <span style="color: #ffffff;">
		2300</span>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  Усть-Каменогорск - Глубокое
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp; 34
                </td>
                <td colspan="1" style="text-align: center;">
                  1.15
                </td>
                <td colspan="2" style="text-align: center;">
                  <span style="color: #ffffff;">7.30</span> &nbsp;8.00 <span
                  style="color: #ffffff;">10.35 &nbsp;14.30</span> 17.50 &nbsp;<span
                  style="color: #ffffff;">18.50</span>&nbsp;
                </td>
                <td colspan="1" style="text-align: center;">
                  300
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск – Зайсан
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    477
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    10.55
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    07.00
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    3800
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск – Змеиногорск
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    195
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    5.20
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    временно отменен 8.30
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    2025<br>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  Усть-Каменогорск - Алтай
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp;182
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp; &nbsp;3.50
                </td>
                <td colspan="2">
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;11.30&nbsp;
                  &nbsp; &nbsp; 15.00&nbsp; &nbsp;
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1800
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  &nbsp;Усть-Каменогорск - Алаколь
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; 635
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp;15.00
                </td>
                <td colspan="2">
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;летний период 19.30
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;5000
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск –&nbsp;Караганда
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    1032
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    21.00
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    &nbsp;11.10 (через день)
                  </p>
                  <p align="CENTER">
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    6000<br>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск - Красноярск
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    1633
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    27.40
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    временно отменен 10.00(сб ч/з неделю )
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    15000
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск – Катон ч\з Алтай
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    358
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    7.30
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    8.25 <span style="color: #ffffff;">11.00</span>
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    2700
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск - Курчум
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    215
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    5.20
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    9.00&nbsp;
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    1800
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск – Маканчи
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    540
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    12.35
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    18.00&nbsp;
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    3800
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  Усть-Каменогорск - п. Касыма Кайсенова
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp; 18
                </td>
                <td colspan="1" style="text-align: center;">
                  0.35
                </td>
                <td colspan="2">
                  <div style="text-align: center;">
                    6.05 <span style="color: #ffffff;">6.30</span> 7.15 7.35 <span style="color: #ffffff;">8.05</span>
                    8.40 9.05 <span style="color: #ffffff;">9.40 </span>10.10&nbsp;
                  </div>
                  <div style="text-align: center;">
                    10.40 <span style="color: #ffffff;">11.40</span> 12.40 13.20 <span
                    style="color: #ffffff;">14.00</span> 14.40&nbsp; 15.30 <span style="color: #ffffff;">16.35</span>
                    17.05 17.40 <span style="color: #ffffff;">18.05</span> 18.35 19.15 <span style="color: #ffffff;">19.45</span>
                    20.25&nbsp;
                  </div>
                </td>
                <td colspan="1" style="text-align: center;">
                  120
                </td>
              </tr>
              <tr>
                <td>
                  <b> </b>
                  <p>
                    <b> </b>Усть-Каменогорск –&nbsp;Новосибирск<b> </b>
                  </p>
                  <b> </b>
                </td>
                <td>
                  <b> </b>
                  <p align="CENTER">
                    <b> </b>860
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    18.00<b> </b>
                  </p>
                  <b> </b>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    <b>временно отменен&nbsp;</b>17.00&nbsp; 18.30 20.00&nbsp; 21.00&nbsp;
                  </p>
                  <p align="CENTER">
                    <br>
                  </p>
                  <b> </b>
                </td>
                <td>
                  <b> </b>
                  <p align="CENTER">
                    <b> </b><b>&nbsp;</b> 9000<b>&nbsp;</b><b> </b>
                  </p>
                  <b> </b>
                </td>
              </tr>
              <tr>
                <td>
                  <b> </b>
                  <p>
                    <b> </b>Усть-Каменогорск – Новокузнецк<b> </b>
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    1042
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    19.40<b> </b>
                  </p>
                  <b> </b>
                </td>
                <td colspan="2">
                  <b> </b>
                  <p align="CENTER">
                    &nbsp;временно отменен
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    10500<b> </b>
                  </p>
                  <b> </b>
                </td>
              </tr>
              <tr>
                <td>
                  <b> </b>
                  <p>
                    <b> </b>Усть-Каменогорск –&nbsp;Омск<b> </b>
                  </p>
                  <b> </b>
                </td>
                <td>
                  <b> </b>
                  <p align="CENTER">
                    <b> </b>1003
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    20.15<b> </b>
                  </p>
                  <b> </b>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    временно отменен 9.45&nbsp;
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    10000
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск – Октябрьский
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    112
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    3.00
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    &nbsp;12.30 17.30(временно отменен)
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    1300
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  Усть-Каменогорск - Первомайский
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp; 73
                </td>
                <td colspan="1" style="text-align: center;">
                  2.00
                </td>
                <td colspan="2" style="text-align: center;">
                  10.00 &nbsp;&nbsp; &nbsp;15.35
                </td>
                <td colspan="1" style="text-align: center;">
                  600
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <span style="color: #ffffff;">Усть-Каменогорск - Предгорное (ч/з Уварово) </span>
                </td>
                <td colspan="1">
 <span style="color: #ffffff;">
		&nbsp; &nbsp; &nbsp; 58 </span>
                </td>
                <td colspan="1" style="text-align: center;">
 <span style="color: #ffffff;">
		2.00 </span>
                </td>
                <td colspan="2" style="text-align: center;">
 <span style="color: #ffffff;">
		7.55 &nbsp;13.00 &nbsp;17.25 </span>
                </td>
                <td colspan="1" style="text-align: center;">
 <span style="color: #ffffff;">
		450</span>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  Усть-Каменогорск - Предгорное
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp; 49
                </td>
                <td colspan="1" style="text-align: center;">
                  1.30
                </td>
                <td colspan="2" style="text-align: center;">
                  <span style="color: #ffffff;">11.30</span>&nbsp; 12.00 &nbsp;<span
                  style="color: #ffffff;">16.25</span>
                </td>
                <td colspan="1" style="text-align: center;">
                  450
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск –
                  </p>
                  <p>
                    Павлодар ч\з Таврическое
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    562
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    12.00
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    &nbsp;21.00(ежедневно)
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    4000
                  </p>
                  <p align="CENTER">
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск –
                  </p>
                  <p>
                    Павлодар ч\з Шемонаиху
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    616
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    12.50
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    &nbsp;19.10(временно отменен)
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    4000
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск –Риддер
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    118
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    3.00
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    <span style="color: #ffffff;"><span style="color: #000000;">7.30</span> 9.00</span> 10.30 <span
                    style="color: #ffffff;">12.00</span> 13.00 &nbsp;15.00 <span style="color: #ffffff;">16.30</span>
                    17.30 &nbsp;<span style="color: #ffffff;">19.00</span>
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    1200
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <span style="color: #ffffff;">У</span><span style="color: #ffffff;">сть-Каменогорск - Самарское- Белое&nbsp; </span>
                </td>
                <td colspan="1">
 <span style="color: #ffffff;">
		&nbsp; &nbsp; &nbsp;195 </span>
                </td>
                <td colspan="1" style="text-align: center;">
 <span style="color: #ffffff;">
		5.30 </span>
                </td>
                <td colspan="2" style="text-align: center;">
 <span style="color: #ffffff;">
		14.10 (чт. пт. сб. вс.) </span>
                </td>
                <td colspan="1" style="text-align: center;">
 <span style="color: #ffffff;">
		1500</span>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск – Серебрянск
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    112
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    2.40
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    11.30&nbsp; &nbsp;&nbsp;18.00(временно отменен)
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    1200
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  Усть-Каменогорк - Семей
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp;229
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp; &nbsp;3.30
                </td>
                <td colspan="2" style="text-align: center;">
                  8.00 1<span style="color: #ffffff;">3.00&nbsp; 14.00</span> 15.15 (ч/з Шульбинск)&nbsp;<span
                  style="color: #ffffff;">17.15 &nbsp;18.45</span>
                </td>
                <td colspan="1" style="text-align: center;">
                  Акция!1800
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск –Тарханка
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    35,5
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    1.10
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    8.00 13.30 17.10
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    300
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск –Томск
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    1120
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    21.05
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    временно отменен 10.00 (пт)
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    10000
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  Усть-Каменогорск - Украинка
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp; 45
                </td>
                <td colspan="1" style="text-align: center;">
                  1.00
                </td>
                <td colspan="2" style="text-align: center;">
                  7.45 &nbsp;17.25
                </td>
                <td colspan="1" style="text-align: center;">
                  300
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  Усть-Каменогорск - Урджар
                </td>
                <td colspan="1">
                  &nbsp; &nbsp; &nbsp;493
                </td>
                <td colspan="1" style="text-align: center;">
                  11.25
                </td>
                <td colspan="2" style="text-align: center;">
                  18.00
                </td>
                <td colspan="1" style="text-align: center;">
                  3400
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Усть-Каменогорск – Шемонаиха
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    118
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    2.45
                  </p>
                </td>
                <td colspan="2">
                  <p align="CENTER">
                    <span style="color: #ffffff;">7.35</span> 8.15 &nbsp;<span style="color: #ffffff;">11.30</span>
                    <span style="color: #ffffff;">13.00</span> 13.50 <span style="color: #ffffff;">14.40 &nbsp;16.40 17.20</span>&nbsp;
                  </p>
                </td>
                <td>
                  <p align="CENTER">
                    2200
                  </p>
                </td>
              </tr>
              </tbody>
            </table>

            <p align="CENTER">
              <br>
            </p>
            <p align="CENTER">
              <b><span style="color: #ffffff;">Время отправления автобусов из г. Риддер&nbsp; 5.40 7.30 9.00 10.30 12.00 13.30 15.00 16.30 18.00</span></b><span
              style="color: #ffffff;"> </span>
            </p>
            <span style="color: #ffffff;"> </span>
            <p align="CENTER">
              <span style="color: #ffffff;"> </span><b><span style="color: #ffffff;">Время отправления автобусов из п. Касым Кайсенова 6.15 6.50 7.15 7.55 8.15 8.50 9.20 9.45 10.30 10.50&nbsp; 11.20 12.20 13.20 14.00 14.40 15.10 16.10 17.15 17.45 18.20 18.50 19.15 20.00 20.25 21.00</span></b>
            </p>


            <!-- BEGIN JIVOSITE CODE {literal} -->
            <script src="//code.jivosite.com/widget/ao6osa4glG" async=""></script>
            <!-- {/literal} END JIVOSITE CODE --><!--db9a3aae49a704e7d0c176d712193a68--></div>
        </div>
      </div>
    </div>
  </section>

</div>
