<form #form="ngForm" autocomplete="off" (submit)="onSumbit(form)">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Category</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Category</div>
          </div>
          <select name="foodType" class="form-control" [(ngModel)]="foodTypeNgModel" (change)="gotoDatabse()">
            <option *ngIf="foodType.length==0" value="">Empty</option>
            <option *ngFor="let item of foodType" [value]="item.id">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label>Food</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Food</div>
          </div>
          <select name="foodList" class="form-control" [(ngModel)]="foodListNgModel" [disabled]="disableFoodList"
                  (change)="changeFoodList()">
            <option *ngIf="foodList.length==0" value="">Empty</option>
            <option *ngFor="let item of foodList" [value]="item.id">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label>Date</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Date</div>
          </div>
          <input name="dateMenu" [(ngModel)]="dateMenu" type="date" (change)="changeDate()"
                 value=""
                 class="form-control">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i>Submit
        </button>
      </div>
    </div>
  </div>
</form>

<div [id]="responseObject[0].response" class="alert alert-success response-capacity-from"
     role="alert">
  {{responseFoodSchedule.alertText}}
</div>
<div [id]="responseObject[1].response" class="alert alert-danger response-capacity-from"
     role="alert">
  {{responseFoodSchedule.alertText}}
</div>


