<form #form="ngForm" autocomplete="off" (submit)="onSumbit(form)">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>{{languagesService.languages.productname}}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">{{languagesService.languages.title}}</div>
          </div>
          <input name="itemName" #itemName="ngModel" [(ngModel)]="adminService.item.name" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label>{{languagesService.languages.productcategory}}</label>
        <div class="input-group">
          <input name="itemPrice" #itemCategory="ngModel" [(ngModel)]="adminService.item.image"
                 class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label>{{languagesService.languages.productdescription}}</label>
        <div class="">
          <textarea name="itemPrice" #itemDescription="ngModel" [(ngModel)]="adminService.item.description"
                    class="form-control" rows="10"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label>{{languagesService.languages.productprice}}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input name="itemPrice" #itemPrice="ngModel" [(ngModel)]="adminService.item.price" type="number"
                 class="form-control">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i>{{languagesService.languages.submit}}
        </button>
      </div>
    </div>
  </div>
</form>

<div class="alert alert-success response-capacity-from" [class.response-capacity-to]="response==responseObject[0]"
     role="alert">
  {{response.alertText}}
</div>
<div class="alert alert-danger response-capacity-from" [class.response-capacity-to]="response== responseObject[1]"
     role="alert">
  {{response.alertText}}
</div>

