<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
    <param name="Target" value="System.out"/>
    <param name="Threshold" value="TRACE"/>

    <layout class="kz.greetgo.diploma.controller.logging.MyLog4jLayout">
      <param name="LoggerNameCut" value="2"/>
    </layout>
    <!--
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n"/>
    </layout>
    -->
  </appender>

  <appender name="SERVER" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${user.home}/diploma.d/logs/server.log"/>
    <param name="Threshold" value="INFO"/>
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="100MB"/>
    <param name="MaxBackupIndex" value="100"/>

    <layout class="kz.greetgo.diploma.controller.logging.MyLog4jLayout">
      <param name="LoggerNameCut" value="0"/>
    </layout>
  </appender>

  <category name="org.apache">
    <priority value="INFO"/>
  </category>

  <category name="TRACE">
    <priority value="TRACE"/>
  </category>

  <category name="SQL">
    <priority value="TRACE"/>
    <!--<appender-ref ref="CONSOLE"/>-->
  </category>

  <category name="DIRECT_SQL">
    <priority value="TRACE"/>
    <!--<appender-ref ref="CONSOLE"/>-->
  </category>

  <category name="kz.greetgo.diploma.db.register_impl">
    <priority value="TRACE"/>
    <!--<appender-ref ref="CONSOLE"/>-->
  </category>

  <root>
    <priority value="INFO"/>
    <appender-ref ref="SERVER"/>
  </root>

</log4j:configuration>
