<h4 class="display-4">Order Food Item</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
    <div class="alert alert-primary text-center" role="alert">
      Вы можете забронировать место или можете еще сделать предзаказ
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Бронировать</button>
    <button type="button" class="btn btn-outline-dark ml-1" (click)="openOrderComponent()"> <i class="trash-alt"></i>Предазаказ</button>
  </div>
</form>
