.preloader{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 40%;
  background-color: rgba(90, 90, 90, 0.5);
}
.app-root-color{
  min-height:100%;
  position:relative;

}
.shesterenka-color{
  background-color: #acb3ba;
}

.shesterenka-color:focus{
  background-color: #3f596b;
  box-shadow: 0 0 0 0.1rem #3f596b !important;
}



.app-navbar{
  margin-left: auto;
  margin-right: auto;
}
.navbar-color{
  /*background: #80BEAF ;*/
  /*box-shadow: 0px 19px 30px #B3DDD1 inset;*/
  border-radius: 0 0 15px 15px;
}

.jumbtron-fluid-color{
  background: #f2f2f2;

  /*box-shadow: 0px 50px 50px #F5B994 inset;*/

}

#mu-footer {

  /*background: #80BEAF;*/
  /*background-color: #444;*/
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin-top:20px;
  /*box-shadow: 0px 15px 20px #B3DDD1 inset;*/
  border-radius: 20px 20px 0 0;
}

.mu-footer-area {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}

.mu-footer-social {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}

.mu-footer-social a {
  background-color: #555;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 45px;
  line-height: 47px;
  margin: 5px;
  text-align: center;
  width: 45px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-footer-copyright {
  display: inline;
  float: left;
  width: 100%;
  padding: 5px;
}

.mu-footer-copyright p {
  /*font-family: "Open Sans", sans-serif;*/
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #fff;
}

.mu-footer-copyright p a {
  color: #fff;
}
.app-router{
  min-height: 500px;
}
