<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto" (click)="addClass()">
        <li class="nav-item " id="navItem1" (click)="showMainPage('main', this.id)" >
          <a class="nav-link" routerLink="/">Главная<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="navItem2" (click)="showMainPage('booking',this.id)">
          <a class="nav-link"  routerLink="/booking">Бронирование<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="navItem3" (click)="showMainPage('registration', this.id)">
          <a class="nav-link"  routerLink="/registration">Регистрация</a>
        </li>
        <li class="nav-item" id="navItem4" (click)="showMainPage('login', this.id)">
          <a class="nav-link" *ngIf="!login.isAuthenticated"
             routerLink="/login">Логин</a>
        </li>
      </ul>
      <span class="navbar-text " *ngIf="login.personDisplay">
      Аккаунт:   {{login.personDisplay.username}}
    </span>
    </div>
  </nav>


  <h5 class="display-5 text-right"></h5>


  <div class="jumbotron jumbtron-fluid">
    <h3 class="display-4 text-center"><img src="/assets/img/food.png" alt="">Restaurant App.</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>
