<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto" (click)="addClass()">
        <li class="nav-item " id="navItem1" (click)="showMainPage('main')">
          <a class="nav-link" routerLink="/">{{languagesService.languages.main.toFirstTitleCase()}}<span
            class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="navItem2" (click)="showMainPage('booking')">
          <a class="nav-link" routerLink="/booking">{{languagesService.languages.order.toFirstTitleCase()}}<span
            class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="navItem3" (click)="showMainPage('booking')">
          <a class="nav-link" routerLink="/admin">{{languagesService.languages.admin.toFirstTitleCase()}}<span
            class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="navItem4" (click)="showMainPage('registration')">
          <a class="nav-link" routerLink="/registration">{{languagesService.languages.registration.toFirstTitleCase()}}</a>
        </li>
        <li class="nav-item" id="navItem5" (click)="showMainPage('login')">
          <a class="nav-link" *ngIf="!login.isAuthenticated" (click)="showMainPage('login')"
             routerLink="/login">{{languagesService.languages.login.toFirstTitleCase()}}</a>
        </li>
        <li class="nav-item" id="navItem6" (click)="showMainPage('login')">
          <a class="nav-link" (click)="showMainPage('about')"
             routerLink="/about">{{languagesService.languages.about.toFirstTitleCase()}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            {{languagesService.languages.language.toFirstTitleCase()}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="changeLanguage(const_languages.RU_LANGUAGE)">{{languagesService.languages.russian}}</a>
            <a class="dropdown-item" (click)="changeLanguage(const_languages.EN_LANGUAGE)">{{languagesService.languages.english}}</a>
          </div>
        </li>
      </ul>
      <span class="navbar-text " *ngIf="login.personDisplay">
      Аккаунт:   {{login.personDisplay.username}}
    </span>
    </div>
  </nav>


  <h5 class="display-5 text-right"></h5>


  <div class="jumbotron jumbtron-fluid">
    <h3 class="display-4 text-center"><img src="/assets/img/food.png" alt="">{{languagesService.languages.nameapp.toFirstTitleCase()}}</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="preloader" [hidden]="!login.preloader">
  <mat-spinner></mat-spinner>
</div>
