<div class="col-md-6 offset-md-3">

<form class="shadow bg-light  p-3 mb-5 rounded" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <div class="row ">
    <div class="col-md-10 offset-md-1">
      <div class="form-group">
        <label>{{languagesService.languages.numberofpeople.toFirstTitleCase()}}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">#</div>
          </div>
          <input name="numberOfPeople" #numberOfPeople="ngModel" [(ngModel)]="bookingService.booking.numberOfPeople"
                 class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label>{{languagesService.languages.reservationday.toFirstTitleCase()}}</label>
        <input name="recordDateDay" #recordDateDay="ngModel" [(ngModel)]="bookingService.booking.recordDateDay"
               type="date" [value]="bookingService.booking.recordDateDay" class="form-control">
      </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <div class="form-group">
        <label>{{languagesService.languages.reservationtimefrom.toFirstTitleCase()}}</label>
        <input name="recordDateFrom" #recordDateFrom="ngModel" [(ngModel)]="bookingService.booking.recordDateFrom"
               type="time" value="13:00:00" class="form-control">
      </div>
      <div class="form-group">
        <label>{{languagesService.languages.reservationtimeto.toFirstTitleCase()}}</label>
        <input name="recordDateTo" #recordDateTo="ngModel"
               [(ngModel)]="bookingService.booking.recordDateTo"
               type="time" [value]="bookingService.booking.recordDateTo" class="form-control">
      </div>
    </div>
    <div class="col-md-10 offset-md-1">

      <form [formGroup]="userForm">
        <div class="form-group">
          <label>{{languagesService.languages.numberoftelephone.toFirstTitleCase()}}</label>
          <div class="input-group">
            <input class="form-control" type="text" placeholder="8(___)___-__-__" [textMask]="{mask: mask}"
                   formControlName="phoneNumber" [ngClass]="{'is-invalid': userForm.get('phoneNumber').touched
           && userForm.get('phoneNumber').invalid}"
            >
          </div>
        </div>
      </form>
      <!--<div class="form-group">
        <label>{{languagesService.languages.reservationtable.toFirstTitleCase()}}</label>
        <input type="text" class="form-control" name="tableType" #tableType="ngModel"
               [(ngModel)]="bookingService.booking.tableType" READONLY>
        &lt;!&ndash;<select name="tableType" #tableType="ngModel" [(ngModel)]="bookingService.booking.tableType"
                class="form-control">
          <option *ngFor="let tab of bookingService.table">{{tab}}</option>
        </select>&ndash;&gt;
      </div>-->

      <div class="form-group  d-flex bd-highlight mb-3 ">
        <button type="button" (click)="selectTable()" class="btn btn-primary  mr-auto p-2 bd-highlight">
          {{languagesService.languages.choosetable}}
        </button>
        <button type="submit" class="btn btn-dark ap-2 bd-highlight"><i class="fa fa-database"></i>{{languagesService.languages.submit}}
        </button>
      </div>
    </div>
  </div>


 </form>

</div>
