.pay-in-card {
  background-image: url("/assets/img/card-in-use.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pay-in-cash {
  background-image: url("/assets/img/cash-in-hand.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pay-in-cash-or-card {
  background-image: url("/assets/img/card-and-cash.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

a.btn.text-secondary {
  cursor: copy;
}

a.btn.text-secondary.not-allowed {
  cursor: not-allowed;
}
.thead-light-color{
  background: #B3DDD1;
  box-shadow: 5px 10px 20px #D1DCE2 inset;
}
.order-table{
  background-color: #f2f2f2;
  /*box-shadow: 100px 20px 38px 13px #B3DDD1 inset;*/
}
tbody{
  text-align: center
}
thead{
  text-align: center;
}
tr:nth-child(even) {background-color:#e5e5e5;}
tr:nth-child(odd) {background-color: #f2f2f2;}
