.pay-in-card{
  background-image: url("/assets/img/card-in-use.png");
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;
}
.pay-in-cash{
  background-image: url("/assets/img/cash-in-hand.png");
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;
}
.pay-in-cash-or-card{
  background-image: url("/assets/img/card-and-cash.png");
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;
}
