.background-asd {
}

.backround-notchoose {
  opacity: 1 !important;
  background-color: white !important;
}

.table-place {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  background-image: url("/assets/img/авто.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.table-part-left {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: absolute;
  left: 50px;
  width: 28px;
}

.place-1 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;
}

.place-5 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;

  border-radius: 5px;
  background-color: #93549e;
  padding-left: 5px;

}

.place-9 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-13 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.table-part-center-left {
  opacity: 0.5;
  /*
    margin-bottom: 6px.4;*/
  /*position: relative;*/
  /*width: 28px;*/
  /*height: 22px;*/

  /*top: 114px;*/
  /*left: 136px;*/
  /*border-radius: 5px;*/
  /*background-color: #93549e;*/
  /*padding-left: 7px;*/
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: absolute;
  left: 80px;
  width: 28px;


}

.place-17 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-21 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-23 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.table-part-center {
  opacity: 0.5;
  /*
    margin-bottom: 6px.4;*/
  /*position: relative;*/
  /*width: 28px;*/
  /*height: 22px;*/

  /*top: 114px;*/
  /*left: 136px;*/
  /*border-radius: 5px;*/
  /*background-color: #93549e;*/
  /*padding-left: 7px;*/
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: absolute;
  left: 130px;
  width: 28px;


}

.place-25 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-29 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;
}

.place-33 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;
}

.place-37 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.table-part-up {
  opacity: 0.5;
  /*
    margin-bottom: 6px.4;*/
  /*position: relative;*/
  /*width: 28px;*/
  /*height: 22px;*/

  /*top: 114px;*/
  /*left: 136px;*/
  /*border-radius: 5px;*/
  /*background-color: #93549e;*/
  /*padding-left: 7px;*/
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: absolute;
  left: 160px;
  width: 28px;


}

.place-41 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-45 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;
}

.table-part-right {
  opacity: 0.5;
  /*
    margin-bottom: 6px.4;*/
  /*position: relative;*/
  /*width: 28px;*/
  /*height: 22px;*/

  /*top: 114px;*/
  /*left: 136px;*/
  /*border-radius: 5px;*/
  /*background-color: #93549e;*/
  /*padding-left: 7px;*/
  margin-bottom: 5.4px;
  position: absolute;
  left: 107px;
  width: 28px;
  bottom: 67px;


}

.place-2 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;
}

.place-6 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-10 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-14 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}


.place-18 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}


.place-22 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}


.place-24 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-26 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}


.place-30 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}


.place-34 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}


.place-38 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}


.place-42 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-46 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-4 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-8 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-12 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-16 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-20 {
  opacity: 0.5;
  margin-bottom: 63px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-28 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-32 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-36 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-40 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-44 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-3 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-7 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-11 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-15 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-19 {
  opacity: 0.5;
  margin-bottom: 63px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-27 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-31 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-35 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-39 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-43 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-47 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;

  top: 114px;
  left: 136px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-48 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;
  top: 85px;
  left: 163px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}

.place-49 {
  opacity: 0.5;
  margin-bottom: 6.4px;
  position: relative;
  width: 28px;
  height: 22px;
  top: 57px;
  left: 192px;
  border-radius: 5px;
  background-color: #93549e;
  padding-left: 7px;

}















