<h4 class="display-4">{{languagesService.languages.orderfooditem}}</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="orderItemId" #orderItemId="ngModel" [(ngModel)]="formData.orderItemId">
  <input type="hidden" name="orderId" #orderId="ngModel" [(ngModel)]="formData.orderId">
  <input type="hidden" name="itemName" #itemName="ngModel" [(ngModel)]="formData.itemName">
  <div class="form-group">
    <label>{{languagesService.languages.fooditem.toFirstTitleCase()}}</label>
    <select name="itemId" #itemId="ngModel" [(ngModel)]="formData.itemId" class="form-control"
            (change)="updatePrice($event.target)"
            [class.is-invalid]="!isValid && formData.itemId==0">
      <option value="0">-{{languagesService.languages.select}}-</option>
      <option *ngFor="let item of itemList" value="{{item.itemId}}">"{{item.name}}"</option>

    </select>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>{{languagesService.languages.price.toFirstTitleCase()}}</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input name="price" #price="ngModel" [(ngModel)]="formData.price" class="form-control" READONLY>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>{{languagesService.languages.quantity.toFirstTitleCase()}}</label>
      <input name="quantity" #quantity="ngModel" [(ngModel)]="formData.quantity" class="form-control"
             (keyup)="updateTotal()"
             [class.is-invalid]="!isValid && formData.quantity==0">
    </div>
  </div>
  <div class="form-group">
    <label>{{languagesService.languages.total.toFirstTitleCase()}}</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">$</div>
      </div>
      <input name="total" #total="ngModel" [(ngModel)]="formData.total" class="form-control" READONLY>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> {{languagesService.languages.submit}}</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="trash-alt"></i>{{languagesService.languages.close}}</button>
  </div>
</form>
