@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic');
@import "reset.css";

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}
