<div class="head-admin">
  <app-title></app-title>
  <div class="col-4  sidebar-admin " style="height: 500px">
    <ul class="nav nav-pills nav-fill " style="display: block ">
      <li class="nav-item ml-1 " style="position: relative; margin-top: 20px;"  *ngFor="let item of adminService.adminChildUrl | slice : 1">
        <a class="nav-link btn-info " [routerLink]=[item.url] routerLinkActive="active">{{item.title}}</a>
      </li>
    </ul>
  </div>
  <div class="content-admin">
    <router-outlet></router-outlet>
  </div>
</div>
